* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  float: right;
  color: #fff;
}

.base {
  width: 100%;
  height: 100vh;
  background: black;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #c6c7cc;
}
