.text, .subtext {
  display: flex;
  flex-direction: column;
  font-size: 3.3rem;
  margin-left: 36px;
}

@media only screen and (min-width: 1220px) {
  .text {
    margin-left: 3rem;
    font-size: 5rem;
  }

  .subtext {
    margin-left: 3rem;
    font-size: 3rem;
  }
}
