.container {
  margin: 0;
  color: #000;
  background: #fff;
  position: absolute;
  overflow-y: scroll;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  background: #e5e5e5;
  cursor: grab;
  padding: 0 16px;
  height: 50px;
}

.title {
  margin-right: auto;
}

.window_title {
  font-size: larger;
}

.controls {
  display: flex;
}

.minimize,
.maximize,
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 100rem;
  margin: 2px;
  cursor: pointer;
}

.close {
  background-color: red;
}

.maximize {
  background-color: #b6b62d;
}

.minimize {
  background-color: green;
}
